@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Regular";
    src: local('Helvetica'), url('./assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: "Bold";
    src: local('Helvetica-Bold'), url('./assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "BoldOblique";
    src: local('Helvetica-BoldOblique'), url('./assets/fonts/Helvetica-BoldOblique.ttf') format('truetype');
}

@font-face {
    font-family: "Oblique";
    src: local('Helvetica-Oblique'), url('./assets/fonts/Helvetica-Oblique.ttf') format('truetype');
}

body {
    background: #F6F6F4;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.spin-loader {
    svg {
        width: 3.25em;
        transform-origin: center;
        animation: rotate4 2s linear infinite;
    }

    circle {
        fill: none;
        stroke: #6C2BD9;
        stroke-width: 2;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite;
    }
}


@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}